@import url(style.css);

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2rem;
    padding: 2rem;
    ;
}

.movie-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    border: 0.1rem solid var(--primary-yellow);
    border-radius: 0.8rem;
    width: 15rem;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

/* När man hovrar på kortet */
.movie-card:hover {
    transform: scale(1.05);
    /* Förstorar kortet vid hovring */
}

.movie-card img {
    width: 100%;
    flex-grow: 1;
    object-fit: cover;
    border-radius: 4px;
}

.movie-card h3 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    padding: 0.7rem;
    color: #FBD1A2;
}

.fa-heart {
    position: absolute;
    top: 0.8rem;
    right: 1rem;
    cursor: pointer;
    font-size: 1.7rem;
    /* Justera storleken på ikonen */
    color: var(--primary-red);
}