@import url('./style.css');

.singleMovie-card {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 24px;
    padding: 30px;
    margin: 20px auto;
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--neon-pink);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    max-width: 1000px;
    position: relative;
}

.singleMovie-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.movie-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.imdb-rating {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--primary-yellow);
    display: flex;
    align-items: center;
    gap: 6px;
}

.movie-info p {
    font-size: 1.1rem;
    margin: 4px 0;
    color: #e0e0e0;
}

.plot {
    margin-top: 12px;
    margin-bottom: 1.5rem;
    color: #bbb;
    font-size: 1rem;
    line-height: 1.5;
}

.trailer-button {
    padding: 10px 16px;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    background: linear-gradient(90deg, var(--neon-cyan), var(--neon-pink));
    box-shadow: 0 0 10px var(--neon-cyan);
    transition: all 0.3s ease-in-out;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.3s;
    width: min(80%, 250px);
    display: block;
    margin: 12px auto;
}

.trailer-button:hover {
    transform: scale(1.05);
    text-shadow: 0 0 5px var(--neon-cyan), 0 0 10px var(--neon-pink);
}

.favorite-heart {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2rem;
    color: var(--neon-pink);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.favorite-heart:hover {
    transform: scale(1.2);
}

@media (max-width: 1000px) {
    .singleMovie-card {
        max-width: 700px;
    }

    .title {
        font-size: 1.5rem;
    }

    .imdb-rating {
        font-size: 1rem;
    }

    .movie-info p {
        font-size: 1rem;
    }

    .favorite-heart {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 750px) {
    .content-wrapper {
        margin: 2rem;
    }

    .singleMovie-card {
        grid-template-columns: 1fr;
        padding: 2rem;
        margin: 2rem;
    }

    .singleMovie-card img {
        max-width: 300px;
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    .title {
        font-size: 1.3rem;
    }

    .imdb-rating {
        font-size: 1rem;
    }

    .movie-info p {
        font-size: 1rem;
    }

    .plot {
        font-size: 0.9rem;
        text-align: left;
    }

    .trailer-button {
        width: 80%;
    }

    .favorite-heart {
        top: 10px;
        right: 10px;
        font-size: 1.8rem;
    }
}