@import url('./carousel.css');
@import url('./singleMovie.css');
@import url('./movieCards.css');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* Variables */
:root {
    --header-brown: #2A1A1D;
    /* Primary BG bör vara din bakgrundsfärg */
    --primary-bg: #271c1e;
    --primary-white: #ffffff;
    --primary-grey: #1A1A1A;
    --primary-yellow: #FDB94A;
    --primary-red: #E11E26;
    --text-color: #FBD1A2;
}

/* Base */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'DM Sans', sans-serif;
    background-color: var(--primary-bg);
    max-width: 100%;
}

/* Utils */
.content-wrapper {
    max-width: 1180px;
    margin: 0 auto;
}

.center {
    margin: 0 auto;
}

.d-none {
    display: none;
}

.header {
    background-color: var(--header-brown);
    width: 100%;
    padding: 1.5rem;
    z-index: 999;
    border-bottom: var(--primary-yellow) solid 0.1rem;
}

.header__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 250px;
}

.header__form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header__input {
    width: 50%;
    padding: 1rem;
    border-radius: 2rem 0 0 2rem;
    border: none;
}

.header__form-btn {
    border-radius: 0 2rem 2rem 0;
    width: 5rem;
    border: none;
    cursor: pointer;
    background-color: var(--primary-yellow);
    font-size: 1rem;
}

.header__fav-btn {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--primary-yellow);
    background: none;
    border: none;
    cursor: pointer;
}

.popular-title,
.search-title,
.favorites-title {
    color: var(--primary-yellow);
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding-left: 2rem;
}