@import url('./carousel.css');
@import url('./singleMovie.css');
@import url('./movieCards.css');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
    --primary-bg: #121212;
    --text-color: #EEEEEE;
    --neon-pink: #db3753;
    --neon-blue: #0e80fa;
    --neon-cyan: #0aa7af;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'DM Sans', sans-serif;
    background-color: var(--primary-bg);
    color: var(--text-color);
    max-width: 100%;
}

.content-wrapper {
    max-width: 1180px;
    margin: 0 auto;
}

.center {
    margin: 0 auto;
}

.d-none {
    display: none;
}

/* ================= HEADER ================= */
.header {
    width: 100%;
    padding: 1.5rem;
    z-index: 999;
    color: var(--neon-cyan);
    border-bottom: var(--neon-cyan) solid 0.1rem;
}

.header__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 200px;
}

.header__form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header__input {
    width: 50%;
    padding: 1rem;
    border-radius: 0.5rem 0 0 0.5rem;
    border: none;
}

.header__form-btn {
    width: 5rem;
    cursor: pointer;
    background: linear-gradient(90deg, var(--neon-cyan), var(--neon-pink));
    color: var(--primary-bg);
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 0 0.5rem 0.5rem 0;
    text-shadow: 0 0 5px var(--neon-cyan), 0 0 10px var(--neon-pink);
    box-shadow: 0 0 10px var(--neon-cyan);
    transition: all 0.3s ease-in-out;
}

.header__form-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px var(--neon-cyan), 0 0 20px var(--neon-pink);
}

.header__fav-btn {
    text-decoration: none;
    font-size: 1.7rem;
    color: var(--neon-cyan);
    text-shadow: 0 0 5px var(--neon-cyan), 0 0 10px var(--neon-cyan);
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.header__fav-btn:hover {
    transform: scale(1.05);
    text-shadow: 0 0 5px var(--neon-cyan), 0 0 10px var(--neon-pink);
}

/* ================= TITLES ================= */
.popular-title,
.search-title,
.favorites-title {
    color: var(--neon-pink);
    text-shadow: 0 0 5px var(--neon-pink), 0 0 10px var(--neon-pink);
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding-left: 2rem;
}

/* ================= MEDIA QUERIES ================= */
@media screen and (max-width: 550px) {
    .content-wrapper {
        max-width: 90%;
    }

    .header__flex {
        display: flex;
        flex-direction: column;
    }

    .header__logo {
        width: 100px;
        margin-bottom: 1rem;
    }

    .header__form {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .header__form-btn {
        font-size: 1rem;
        width: 30%;
    }

    .header__fav-btn {
        font-size: 1.3rem;
        margin-top: 1rem;
    }

    .popular-title,
    .search-title,
    .favorites-title {
        font-size: 1.5rem;
    }
}